/* styles for desktops/laptops */
@media (max-width: 1280px) {
  .about .about-us {
    width: 90%;
  }
}

/* styles for small laptops */
@media (max-width: 1024px) {
  nav {
    padding: 0 3%;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  nav .nav-right a {
    display: none;
  }
  nav .nav-links {
    position: fixed;
    top: 60px;
    background-color: #f5f7fb;
    right: 0;
    width: 60%;
    transform: translateX(100%);
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: 100vh;
  }  
  nav .active{
     transform: translateX(0);
  }
  .hamburger-menu{
    display: block;
  }
  .hero-section .hero-content {
    flex-direction: column;
    height: auto;
    gap: 20px;
  }
  .hero-section .hero-content .hero-left {
    text-align: center;
    padding: 0 2%;    
  }
  .hero-section .hero-content .hero-left h2 {
    font-size: 3rem;
  }
  .hero-section .hero-content .hero-right img {
    height: auto;
  }
  .about .about-us {
    flex-direction: column;
    gap: 20px;
  }
  .about .about-us .left img {
    height: auto;
  }
  .contact-us .left {
    font-size: 2rem;
  }
  .contact-us {
    padding: 80px 3%;
  }
}

/* styles for tablets */
@media (max-width: 768px) {
  .hero-section .hero-content .hero-left h2 {
    font-size: 1.8rem;
  }
  .about .what-we-provide {
    padding: 0 5%;
  }
  .about .what-we-provide p {
    font-size: 0.9rem;
  }
  .contact-us {
    flex-direction: column;
    align-items: flex-start;
  }
  .team-section {
    padding: 60px 5%;
  }
}

/* styles for mobile phones */
@media (max-width: 600px) {
  .hero-section .hero-content .hero-left p {
    font-size: 1rem;
  }
  .about .about-us .right .info p {
    font-size: 0.95rem;
  }
  .about .about-us .right .stats-container .item p:first-child {
    font-size: 1.5rem;
  }
  .about .about-us .right .stats-container .item p:last-child {
    font-size: 0.8rem;
  }
  .service .service-container {
    width: 95%;
  }
  .contact-us .left,
  .subscribe-box h2,
  .header h2,
  .about .about-us .right .info h2 {
    font-size: 1.8rem;
  }
  .contact-us .right .info .icon-container {
    width: 55px;
    height: 55px;
    font-size: 1.5rem;
  }
  .subscribe-box {
    padding: 40px 3%;
  }
  .subscribe-box .input-container,footer .footer-container{
    width: 90%;
  }   
}
