@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #ffffff;
  --blue: #41a3f8;
  --light-gray: #e5e5e5;
  --light-blue: #f5f7fb;
  --dark-gray: #2c3e50;
  --black: #000000;
  --dark-blue: #224179;
  /* --dark-blue: #ffdad4;
  --dark-blue: #d4ffe1;
  --dark-blue: #d4e7ff;
   */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
/* navbar */
nav {
  display: flex;
  height: 60px;
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-blue);
}

.hero-section {
  background: url("images/hero-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-gray);
}
.logo span {
  background-color: var(--blue);
  color: var(--white);
  padding: 3px 5px;
  border-radius: 5px 10px;
  margin-right: 2px;
}
nav .nav-links {
  display: flex;
  list-style: none;
  transition: transform 0.5s ease-in-out;
}
nav .nav-links a {
  margin: 0 20px;
  color: var(--dark-gray);
  font-size: 1rem;
  transition: color 0.5s ease-in-out;
  font-weight: 500;
}
.hamburger-menu{
  cursor: pointer;
  opacity: 0.7;
  display: none;
}
.hamburger-menu .line{
  width: 25px;
  height: 3px;
  border-radius: 10px;
  margin: 5px 0;
  background-color: var(--dark-gray);
  display: block;
}
nav .active {
  color: var(--blue);
}
nav .nav-links a:hover {
  color: var(--blue);
}
nav .nav-right a {
  background-color: var(--blue);
  color: white;
  padding: 8px 10px;
  border-radius: 5px;
  transition: background 0.5s ease-in-out;
}
nav .nav-right a:hover {
  background-color: var(--dark-blue);
}
.hero-section .hero-content {
  padding: 0 0 0 4%;
  display: flex;
  align-items: flex-start;
  padding-right: 0;
  height: 100vh;
}
.hero-section .hero-content .hero-left {
  flex: 1;
  margin-top: 80px;
}
.hero-section .hero-content .hero-left h2 {
  font-size: 3.3rem;
  color: var(--dark-gray);
  margin-bottom: 20px;
}
.hero-section .hero-content .hero-left h2 span {
  color: var(--blue);
}
.hero-section .hero-content .hero-left a {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 15px;
  border-radius: 3px;
  transition: opacity 0.5s ease-in-out;
}
.hero-section .hero-content .hero-left a:hover {
  opacity: 0.8;
}
.hero-section .hero-content .hero-left a i {
  color: var(--blue);
}
.hero-section .hero-content .hero-left p {
  font-size: 1.2rem;
  color: var(--dark-gray);
  margin-bottom: 40px;
}
.hero-section .hero-content .hero-right {
  flex: 1.3;
}
.hero-section .hero-content .hero-right img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.about {
  margin: 60px 0;
}
.about .what-we-provide {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 40px;
  padding: 0 10%;
  gap: 20px;
}
.about .what-we-provide .info {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 15px;
}
.about .what-we-provide .icon-container {
  background-color: #fff5cc;
  height: 60px;
  display: grid;
  place-items: center;
  font-size: 1.1rem;
  border-radius: 5px;
}
.about .what-we-provide #box2 {
  background-color: #ffdad4;
}
.about .what-we-provide #box3 {
  background-color: #dfffe4;
}
.about .what-we-provide .info p:first-child {
  font-weight: 600;
}
.about .what-we-provide .info p:last-child {
  color: var(--dark-gray);
}
.about .about-us {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  background-color: var(--light-blue);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 40px;
}
.about .about-us .left {
  flex: 1;
}
.about .about-us .left img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
.about .about-us .right {
  flex: 1;
  padding: 0 10px;
}
.about .about-us .right .info h2 {
  font-size: 2.5rem;
  color: var(--dark-blue);
  margin-bottom: 10px;
}
.about .about-us .right .info p {
  color: var(--dark-gray);
}
.about .about-us .right .info p:first-of-type {
  margin-bottom: 20px;
}
.about .about-us .right .stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}
.about .about-us .right .stats-container .item {
  background-color: #d4dfff;
  border-radius: 10px;
  padding: 15px;
}
.about .about-us .right .stats-container .item {
  text-align: center;
  color: var(--dark-gray);
}
.about .about-us .right .stats-container .item p:first-child {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 5px;
}
.about .about-us .right .stats-container .item p:last-child {
  font-size: 0.9rem;
}
.about .about-us .right .stats-container #box2 {
  background-color: #d4e7ff;
}
.about .about-us .right .stats-container #box3 {
  background-color: #ffd4fd;
}
.about .about-us .right .stats-container #box4 {
  background-color: #d7d4ff;
}
.service {
  background-color: var(--light-blue);
  padding: 60px 0;
}
.header {
  text-align: center;
  margin-bottom: 40px;
  padding: 0 20px;
}
.header p {
  color: var(--blue);
  font-weight: 500;
  font-size: 1.3rem;
}
.header h2 {
  font-size: 2.3rem;
  color: var(--dark-gray);
}
.service .service-container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
.service .service-container .service-card {
  background-color: #ffd4fd;
  border: 7px solid var(--white);
  border-radius: 10px;
  padding: 30px 20px;
}
.service .service-container #box2 {
  background-color: #fff5cc;
}
.service .service-container #box2 .icon-container {
  background-color: #f6e8af;
}
.service .service-container #box3 {
  background-color: #dfffe4;
}
.service .service-container #box3 .icon-container {
  background-color: #c3f7cb;
}
.service .service-container #box4 {
  background-color: #d4dfff;
}
.service .service-container #box4 .icon-container {
  background-color: #b0c2f8;
}
.service .service-container .service-card .icon-container {
  background-color: #f7baf3;
  height: 60px;
  width: 60px;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: var(--dark-gray);
  border-radius: 10px;
  margin-bottom: 20px;
}
.service .service-container .service-card p:first-of-type {
  font-weight: 600;
  font-size: 2rem;
  color: var(--dark-blue);
}
.service .service-container .service-card p:last-of-type {
  color: var(--dark-gray);
  margin-bottom: 40px;
}
.service .service-container .service-card a {
  background-color: var(--dark-blue);
  padding: 10px 15px;
  color: var(--white);
  border-radius: 5px;
}
.swiper-button-prev,
.swiper-button-next {
  position: static !important;
}
.service .service-container .button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.service .service-container .button-container .custom-button {
  width: 40px;
  height: 40px;
  background-color: var(--blue);
  border-radius: 50% !important;
  color: var(--white);
  margin: 0 5px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.service .service-container .button-container .custom-button:hover {
  background-color: var(--dark-blue);
}
.contact-us {
  background-color: var(--dark-blue);
  padding: 80px 7%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-us .left {
  flex: 1;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--white);
}
.contact-us .right {
  flex: 1;
  display: grid;
  gap: 30px;
}
.contact-us .right .info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.contact-us .right .info .icon-container {
  width: 70px;
  height: 70px;
  background-color: var(--blue);
  border-radius: 8px;
  display: grid;
  place-items: center;
  font-size: 2rem;
  color: var(--white);
}
.contact-us .right .info .info-details {
  color: var(--white);
}
.contact-us .right .info .info-details p:first-child {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--white);
}
.contact-us .right .info .info-details p:last-child {
  font-size: 1.2rem;
  font-weight: 500;
}
.team-section {
  background-color: var(--light-blue);
  padding: 60px 10%;
}
.team-section .team-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
.team-section .team-container .member {
  padding: 15px;
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: box-shadow 0.5s ease-in-out;
  text-align: center;
  color: var(--dark-gray);
  position: relative;
}

.team-section .team-container .member .image {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 10px;
}
.team-section .team-container .member .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
.team-section .team-container .member .image img:hover {
  transform: scale(1.3);
}
.team-section .team-container .member .details {
  padding-bottom: 40px;
}
.team-section .team-container .member .details p:first-child {
  font-size: 1.5rem;
  font-weight: 600;
}
.team-section .team-container .member a {
  padding: 10px 15px;
  border: 1px solid var(--blue);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white);
  font-weight: 500;
  background-color: var(--blue);
  border-radius: 8px;
  transition: 0.5s ease-in-out;
}
.team-section .team-container .member a:hover {
  background-color: var(--white);
  color: var(--dark-gray);
}
.testimonials-section {
  padding: 60px 0;
}
.testimonials-section .testimonials {
  max-width: 450px;
  margin: auto;
  overflow: hidden;
  width: 90%;
}
.testimonials .testimonial {
  background-color: var(--light-blue);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.testimonials .testimonial img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 5px;
  border: 5px solid var(--white);
}
.testimonials .testimonial p:first-of-type {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--dark-blue);
}
.testimonials .testimonial p {
  color: var(--dark-gray);
  font-size: 0.9rem;
}
.testimonials .testimonial .stars {
  color: #ffd700;
  font-size: 18px;
  margin: 15px 0;
}
.testimonials-section .testimonials .swiper-pagination {
  position: static;
  margin: 15px 0;
}
.testimonials-section .testimonials .swiper-pagination-bullet-active {
  background-color: var(--blue);
}
.subscribe-box {
  background-color: var(--dark-blue);
  padding: 40px 10%;
  max-width: 1000px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px auto;
  border-radius: 10px;
}
.subscribe-box h2 {
  color: var(--white);
  font-size: 2.2rem;
  text-align: center;
}
.subscribe-box .input-container {
  background-color: var(--white);
  width: 70%;
  margin: 10px 0;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 5px;
  border-radius: 5px;
}
.subscribe-box .input-container input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: var(--dark-gray);
  padding: 0 5px;
}
.subscribe-box .input-container button {
  flex-shrink: 0;
  padding: 8px 15px;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  border-radius: 5px;
}
.subscribe-box .input-container button:hover {
  background-color: var(--dark-blue);
}
footer {
  background-color: var(--light-blue);
  padding: 80px 0 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
footer .footer-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  padding-bottom: 30px;
  color: var(--dark-gray);
  border-bottom: 2px solid var(--light-gray);
  margin-bottom: 20px;
}
footer .footer-container .footer-about p:last-of-type,
footer .footer-container .appointment p {
  font-size: 0.9rem;
  margin: 30px 0;
  line-height: 30px;
}
footer .footer-container .footer-about .social-icons {
  display: flex;
  gap: 30px;
}
footer .footer-container .footer-about .social-icons a {
  font-size: 1.4rem;
  color: var(--blue);
}
footer .footer-container .footer-about .social-icons a:hover {
  color: var(--dark-gray);
}
footer .footer-container .quick-links h3 {
  margin-bottom: 15px;
}
footer .footer-container .quick-links ul {
  list-style: none;
}
footer .footer-container .quick-links ul li {
  margin-bottom: 12px;
}
footer .footer-container .quick-links a {
  color: var(--dark-gray);
  font-size: 0.9rem;
}
footer .footer-container .quick-links a:hover {
  color: var(--blue);
}

footer .footer-container .appointment a {
  border: 3px solid var(--blue);
  padding: 15px 20px;
  border-radius: 8px;
  color: var(--dark-gray);
}
footer .footer-bottom {
  text-align: center;
  color: var(--dark-gra);
  font-size: 0.9rem;
}
